.drop-down{
   
    position: relative;
    box-shadow: 0px 2px 5px -1px rgb(209, 210, 211);
    padding: 10px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

.drop-down label{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.drop-down select{
   
    position: absolute;
    content: "";
    left: 90px;
    top: -3px;
    width:60%;
    border:none;
    border-color: #fff transparent transparent transparent;
    cursor: pointer;

}

select option{
  cursor: pointer;
}