.title{
    text-align: center;
    color: rgb(144, 147, 148);
    font-weight: 500;
    font-size: 30px;
}
.searchbar{
    display: flex;
    width: 100%;
    margin:5px;
    justify-content: center;
    margin-top: -20px;
}

.searchfield{

    display: flex;
    flex-direction: row;
}

.searchinput {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    padding:5px;
    border-color: rgb(185, 187, 187);
    
}


.searchicon{
    background-color: rgb(184, 82, 82);
    border-radius: 60px;
    padding: 10px;
    width: 15%;
    height: 90%;
    position: relative;
    z-index: 2;
    margin-left: -43px;
    color: rgb(236, 236, 236);
    cursor: pointer;
    
}

.searchicon:hover{
    background-color: rgb(167, 68, 68);
}

.categories{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.category-block {
    flex-direction: column;
    margin:50px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.category-block p {
    text-align: center;
    font-weight: bold;

}

.category-circle{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(245, 229, 227);
    padding: 15px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.category-circle:hover{
   background-color: rgb(233, 209, 205);
}

.image-icon{

    width: 100%;
    height: 100%;

}