.void{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.void h5{
    text-align: center;
    font-size: 20px;
    color: rgb(148, 150, 151);
    
}

.top-header{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;

}

.measurementBtn{
    border-radius: 10px;
    background-color: rgb(15, 201, 192);
    padding: 10px;
    color:rgb(238, 235, 235);
    font-weight: bold;
    
}

.measurementBtn:hover{
    color:rgb(231, 227, 227);
    background-color: rgb(17, 165, 158);
}

.cameraIcon{
    color: rgb(238, 235, 235);
    font-size: 20px;
    margin: 5px;
}

.list-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    border-width: 2px;
    cursor: pointer;
    padding-right: 20px;
    margin: 10px;
    box-shadow: 0px 5px 10px 0px rgb(218, 216, 216);
}

.list-container:hover{
    background-color: aliceblue;
}

.human-icon{
    width: 15%;
    height: 20%;
}

.right-arrow{
    font-size: 30px;
    color:rgb(101, 101, 104) ;
}
.list{
    justify-content: center;
    align-items: center;
}

.footer-buttons{
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.editBtn, .deleteBtn{
    border-radius: 10px;
    background-color: rgb(15, 201, 192);
    padding: 10px;
    margin: 10px;
    color:rgb(238, 235, 235);
    font-weight: bold;
    
}

.deleteBtn{
    background-color: rgb(221, 55, 55);
}

.editBtn:hover{
    color:rgb(231, 227, 227);
    background-color: rgb(17, 165, 158);
}

.deleteBtn:hover{
    color:rgb(231, 227, 227);
    background-color: rgb(179, 32, 32);
}

.editIcon{
    color: rgb(238, 235, 235);
    font-size: 20px;
    margin: 5px;
}
.modalWrapper {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(79, 79, 79, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .modal {
      
    width: 40%;
    height: 70%;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    animation: fadeInDown 0.8s;
  }

  .heading {
      text-align: center;
      margin: 10px;
      font-weight: bold;
  }
  .body {
    text-align: center;
    margin: 10px;
    font-weight: 300;
}
  .btnClose {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 10px;
    border:none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;

  }
  .bodyModal{
      margin: 20px;
      align-self: center;
      width: 80%;
      height: 60%;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  